@import 'partials';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $text-color;
}
body {
  background: $background-color;
  margin: 0 auto;
}

main {
  position: relative;
}

a {
  text-decoration: none;
  color: $tertiary-color;
  transition: 300ms;

  &:hover {
    color: $accent-color;
  }
}

.body {
  &__wrapper {
    @include media(xxs) {
      padding: 0 5px;
    }
    @include media(xs) {
      padding: 0 15px;
    }
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
}

.nav {
  &__item {
    font-family: 'Gill Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__logo {
    width: 175px;
    height: 100px;
    position: relative;
    text-align: center;

    &-title,
    &-subtitle {
      position: absolute;
      transform: translate(-50%, -50%);
    }

    &-title {
      font-family: 'Didot';
      font-size: 1.5rem;
      top: 45%;
      left: 50%;

    }
    &-subtitle {
      font-size: 0.6rem;
      top: 60%;
      left: 51%;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    transition: all 400ms ease;
    z-index: 9000;
    background: $background-color;

    &-adjust {
      margin-top: 100px;
    }
  }
}

.video {
  &__button-play {
    @include media(xxs) {
      width: 120px;
    }
    @include media(xs) {
      width: 200px;
    }
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  &__item {
    width: 100%;
    z-index: 9000;

    &:hover {
      cursor: pointer;
    }
  }

  &__player {
    top: 0;
    left: 0;

    &-main {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 0;
      height: 0;
      overflow: hidden;

      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__thumbnail {
    width: 100%;
    vertical-align: middle;

    &-about {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      color: $background-color;
    }

    &-btn {
      @extend %action-button;
      border: 2px solid $background-color;
      color: $background-color;

      &:after {
        background: $background-color;
      }

      &:hover {
        box-shadow: inset 0px 0px 0px 3px $background-color;
      }
    }

    &-company {
      @include media(xxs) {
        margin: 0;
      }
      margin-top: 0;
      font-family: 'Gill Sans', sans-serif;
      font-weight: 300;
    }

    &-title {
      @include media(xxs) {
        font-size: 1rem;
      }
      @include media(xs) {
        font-size: 2rem;
      }
      font-family: 'Didot', serif;
      font-weight: 300;
    }
  }

  &__wrapper {
    position: relative;
  }
}

.quote {
  &__wrapper {
    @include media(xxs) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    @include media(xs) {
      margin-top: 200px;
      margin-bottom: 200px;
    }
    text-align: center;

    & h1 {
      @include media(xxs) {
        font-size: 1.5rem;
      }
      @include media(xs) {
        font-size: 2rem;
      }
      font-family: 'Didot', serif;
      font-weight: 300;
      letter-spacing: -1px;
    }

    & h4 {
      margin: 5px 0 20px;
      font-family: 'Gill Sans', sans-serif;
      font-weight: 300;
    }
  }
}

.about {
  &__intro {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $background-color;

    & h1 {
      font-family: 'Didot';
    }

    & h3,
    & h4 {
      font-family: 'Gill Sans';
    }
  }

  &__facts {
    text-align: center;

    & h1 {
      margin: 70px 0;
      font-family: 'Didot';
    }

    & h3,
    & h4 {
      font-family: 'Gill Sans';
    }

    & h3 {
      margin-bottom: 0;
    }
    & h4 {
      margin-top: 0;
    }
  }

  &__splash {
    position: relative;

    & img {
      width: 100%;
    }
  }
}

.action-btn {
  @extend %action-button;
  border: 2px solid $secondary-color;
  color: $secondary-color;

  &:after {
    background: $secondary-color;
  }

  &:hover {
    box-shadow: inset 0px 0px 0px 3px $secondary-color;
  }
}

.hidden {
  &-xxs {
    @include media(xxs) {
      display: none;
    }
  }
}
